.heading
{
    position: relative;
    left: 600px;
    top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form
{
    width: 23vw;
    background-color: rgba(111, 238, 255, 0.675);
    height: 37vh;
    position: relative;
    left: 500px;
    top: 100px;
    border-radius: 10px;
}
.form p
{
    position: relative;
    top: 40px;
    left: 30px;
    width: 100vw;
    font-weight: 600;
}
input[type="text"],input[type="password"]
{
    border-radius: 7px;
    position: relative;
    top: 40px;
    left: 30px;
    padding: 6px;
}
input[type="submit"]
{
    position: relative;
    padding: 9px;
    top: 90px;
    left: -150px;
    border: none;
    border-radius: 9px;
    background-color: rgba(0, 0, 255, 0.776);
    color: white;
}
input[type="submit"]:hover
{
    position: relative;
    padding: 9px;
    top: 90px;
    left: -150px;
    border: none;
    border-radius: 9px;
    background-color: rgba(0, 0, 255, 0.66);
    color: white;
}